<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new book...</title>
</head>
<body>
<div style="width: 100%" align="center">
    <form action="#" th:action="@{/addNewBook}" th:object="${book}" method="post" style="border: solid thin black; width: fit-content; align-self: center; padding: 0 75px 0 75px;">
    <table cellpadding="1px" cellspacing="1px" align="center">
        <tbody>
            <tr>
                <td colspan="3" align="center"><h2>Add new book</h2></td>
            </tr>
            <tr>
                <td>
                    <label for="title">Title:&nbsp;</label>
                </td>
                <td>
                    <input type="text" th:field="*{title}" id="title" placeholder="book title">
                </td>
                <td>
                    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="genre">Genre:&nbsp;</label>
                </td>
                <td>
                    <input type="text" th:field="*{genre}" id="genre" placeholder="genre">
                </td>
                <td>
                    <span th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="author">Author:&nbsp;</label>
                </td>
                <td>
                    <input type="text" th:field="*{author}" id="author" placeholder="author">
                </td>
                <td>
                    <span th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="publisher">Publisher:&nbsp;</label>
                </td>
                <td>
                    <input type="text" th:field="*{publisher}" id="publisher" placeholder="publisher">
                </td>
                <td>
                    <span th:if="${#fields.hasErrors('publisher')}" th:errors="*{publisher}"></span>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3" align="center">
                    <input type="submit" value="Save" style="width: 75%;">
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>
    </form>
</div>
</body>
</html>